[submodule "NotebookNeon"]
	path = Notebook/notebook-neon
	url = git@Lithium:LaTeX/NotebookNeon.git
	branch = dev
[submodule "Minimus"]
	path = Notebook/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = dev
[submodule "StandaloneSilicon"]
	path = Notebook/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = dev
[submodule "MakefileLaTeX"]
	path = Notebook/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX
	branch = dev
